<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header class="header">
        <h1>Forecastly</h1>
        <p>Discover the Weather in Your City Instantly – Accurate Updates, Anytime!</p>
    </header>

    <main class="container">


        {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                <div class="flash-messages">
                    {% for categories , mess in messages %}
                    <div class="flash-message {{categories}}">{{mess}}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form class="weather-form" method="POST">
            <input type="search" name="city" placeholder="Enter city name..." required class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>

        {% if weather_data %}
            <div class="weather-result">
                <h2>Weather in {{weather_data.city}}</h2>
                <p>Temperature : {{weather_data.temperature}} °C </p>
                <p>condition : {{weather_data.description}} </p>
                <p>Wind Speed: {{ weather_data.wind_speed }}%</p>
            </div>
        {% endif %}
    </main>
</body>

</html>
