<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header class="header">
        <h1>Weather Finder</h1>
        <p>Get accurate weather updates for your city.</p>
    </header>

    <main class="container">
        <form class="weather-form" method="get">
            <input type="search" name="city" placeholder="Enter city name..." required class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>

        {% if weather_data %}
            <div class="weather-result">
                <h2>Weather in {{weather_data.city}}</h2>
                <p>Temperature : {{weather_data.temperature}} °C </p>
                <p>condition : {{weather_data.description}} </p>
            </div>
        {% endif %}
    </main>
</body>

</html>
